<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioFormatServicesDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0C398BD1DF6E25D0056CE94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0C398D61DF6E25D0056CE94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0C398E11DF6E25D0056CE94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
