<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExtAudioFileServicesDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0E21CE91DEED3B9005541AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0E21D021DEED3B9005541AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0E21D0D1DEED3B9005541AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
